body {
  background-color: #cccccc;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  background-image: url("intro.jpeg");
}

.ae {
  background-image: url("ae.jpg");
}

.cassia {
  background-image: url("cassia.jpg");
}

.auriel {
  background-image: url("auriel.jpg");
}

.ea {
  background-image: url("ea.jpg");
}

.whisky {
  background-image: url("whisky.jpg");
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.block {
  width: 700px;
  min-height: 180px;
  background-color: #cccccc40;
  margin-bottom: 250px;
  text-align: center;
}

.block p {
  padding: 25px;
  font-family: "Verdana", sans-serif;
  color: white;
  font-size: 24px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 220px;
  height: 35px;
  margin: 10px;
}

.button {
  background-color: #c87903;
  border: none;
  color: white;
  padding: 10px 32px;
  width: 180px;
  height: 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: 0.3s;
}

a.button {
  font-size: 16px;
  font-family: "Verdana", sans-serif;
  height: 30px;
  width: 180px;
  padding: 0px;
  margin: 0px;
  padding-top: 8px;
}

.button:hover {
  background-color: #a36408;
}

.btn-grey {
  background-color: #3A4E68;
}

.btn-grey:hover {
  background-color: #283648;
}


.btn-ae {
  position: relative;
  bottom: -200px;
}
